<div class="members-container">

    <div class="member-wrapper filter all">
        <div class="member__members">
            <div id="member__name">
                I Have A Really Long Name
            </div>
            <div id="member__title">
                With A Really Long Job Title
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../img/placeholder.png" />
        </div>
        <div class="member__dept">
            <span class="tag unspec"></span>
        </div>
    </div>

    <div class="member-wrapper filter all">
        <div class="member__members">
            <div id="member__name">
                Short Name
            </div>
            <div id="member__title">
                Short Title
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../img/placeholder.png" />
        </div>
        <div class="member__dept">
            <span class="tag unspec"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Vladislav Filippov
            </div>
            <div id="member__title">
                Project Manager
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/vladislav-filippov-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag lead"></span>
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter finance">
        <div class="member__members">
            <div id="member__name">
                Omid Armin
            </div>
            <div id="member__title">
                Director FP&A
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/omid-armin-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag lead"></span>
            <span class="tag finance"></span>
        </div>
    </div>

    <div class="member-wrapper filter marketing">
        <div class="member__members">
            <div id="member__name">
                Marcos Paulo Prado
            </div>
            <div id="member__title">
                Brand Strategist
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/marcos-paulo-prado-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag lead"></span>
            <span class="tag marketing"></span>
        </div>
    </div>

    <div class="member-wrapper filter it">
        <div class="member__members">
            <div id="member__name">
                Valerie Elash
            </div>
            <div id="member__title">
                Systems Administrator
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/valerie-elash-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag lead"></span>
            <span class="tag it"></span>
        </div>
    </div>

    <div class="member-wrapper filter hr">
        <div class="member__members">
            <div id="member__name">
                Max Harly
            </div>
            <div id="member__title">
                HR Director
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/max-harlynking-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag lead"></span>
            <span class="tag hr"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Yuliia Tretynychnko
            </div>
            <div id="member__title">
                Operations Engineer
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/yuliia-tretynychenko-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter marketing">
        <div class="member__members">
            <div id="member__name">
                Alexey Demidov
            </div>
            <div id="member__title">
                Content Specialist
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/alexey-demidov-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag marketing"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Chandri Anggara
            </div>
            <div id="member__title">
                Operations Engineer
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/chandri-anggara-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Anantha Krishnan
            </div>
            <div id="member__title">
                Process Engineer
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/anantha-krishnan-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Ospan Ali
            </div>
            <div id="member__title">
                Operations Supervisor
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/ospan-ali-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Laura Adai
            </div>
            <div id="member__title">
                SVP Operations
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/laura-adai-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

    <div class="member-wrapper filter it">
        <div class="member__members">
            <div id="member__name">
                Oswald Eslaboath
            </div>
            <div id="member__title">
                Data Architect
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/oswald-elsaboath-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag it"></span>
        </div>
    </div>

    <div class="member-wrapper filter it">
        <div class="member__members">
            <div id="member__name">
                Gonzalo Facello
            </div>
            <div id="member__title">
                Database Administrator
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/gonzalo-facello-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag it"></span>
        </div>
    </div>

    <div class="member-wrapper filter finance">
        <div class="member__members">
            <div id="member__name">
                Andres Molina
            </div>
            <div id="member__title">
                FP&A Senior Analyst
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/andres-molina-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag finance"></span>
        </div>
    </div>

    <div class="member-wrapper filter hr">
        <div class="member__members">
            <div id="member__name">
                Lizzy Jenkins
            </div>
            <div id="member__title">
                Analyst
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/lizzy-jenkins-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag hr"></span>
        </div>
    </div>

    <div class="member-wrapper filter hr">
        <div class="member__members">
            <div id="member__name">
                Ave Calvar
            </div>
            <div id="member__title">
                HR Specialist
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/ave-calvar-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag hr"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations marketing">
        <div class="member__members">
            <div id="member__name">
                Dmitry Spravko
            </div>
            <div id="member__title">
                Operations Director
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/dmitry-spravko-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
            <span class="tag marketing"></span>
        </div>
    </div>

    <div class="member-wrapper filter finance">
        <div class="member__members">
            <div id="member__name">
                Nikita Vinogradov
            </div>
            <div id="member__title">
                FP&A Analyst
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/nikita-vinogradov-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag finance"></span>
        </div>
    </div>

    <div class="member-wrapper filter operations">
        <div class="member__members">
            <div id="member__name">
                Gaspar Zaldo
            </div>
            <div id="member__title">
                Operations Consultant
            </div>
            <div class="member__img">
            </div>
        </div>
        <div class="member__imgarea">
            <img id="member__img" data-aload="../docs/img/gaspar-zaldo-unsplash.jpg" />
        </div>
        <div class="member__dept">
            <span class="tag operations"></span>
        </div>
    </div>

</div>
<script>
    document.getElementById("totalmembers").innerHTML = document.querySelectorAll('.member-wrapper').length + " members";
</script>