<head>
    <script src="js/navigation.js"></script>
</head>

<body>
    <div class="navigation-menu">
        <h1 class="logo">Project Dashboard</h1>
        <nav>
            <ul>
                <a class="nav btn" rel="preload" href="/">
                    <i class="nav icon fa-solid fa-table-columns"></i>
                    <li>Home</li>
                </a>
                <a class="nav btn" rel="preload" href="/projects.html">
                    <i class="nav icon fa-solid fa-folder-tree"></i>
                    <li>Projects</li>
                </a>
                <a class="nav btn" rel="preload" href="/messages.html">
                    <i class="nav icon fa-solid fa-message"></i>
                    <li>Messages</li>
                </a>
                <a class="nav btn" rel="preload" href="/calender.html">
                    <i class="nav icon fa-solid fa-calendar"></i>
                    <li>Calender</li>
                </a>
                <a class="nav btn" rel="preload" href="/team.html">
                    <i class="nav icon fa-solid fa-users"></i>
                    <li>People</li>
                </a>
            </ul>
        </nav>
        <div class="nav footer">Closed v0.0.1</div>
    </div>
</body>